h1{
    text-align: center;
    background-color: rgb(64, 175, 244);
}
h2{
    text-align: center;
    background-color: lightskyblue;
}
h3{
    background-color: lightskyblue;
}
body{
    background-color: lightblue;
    text-align: center;
}
a{
    text-decoration-color:  rgb(64, 175, 244);
    text-align: center;
}
Footer{
    text-align: right; 
}
div{
    text-align: center; 
}
table{
    margin-left: auto;
    margin-right: auto;
}